:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
  font-family: "Work Sans", sans-serif;
}
.contaner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  max-width: 100%;
}
/* Small */
@media (min-width: 767px) {
  .contaner {
    width: 750px;
  }
  .special-heading{
    font-size: 60px;
  }
  .special-heading + p{
    margin-top: -20px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .contaner {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .contaner {
    width: 1170px;
  }
}
/* start Component */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* end Component */
/* end global rules */
/* start header */
.header{
    padding: 20px;
}
.header .contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links{
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
}
.header .links .icon span:first-child,
.header .links .icon span:last-child{
    width: 100%;
    height: 3px;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    height: 2px;
    transition-duration: 0.3s;    
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style:  solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition-duration: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.header .links:hover ul{
    display: block;
}
/* end header */
/* start landing section  */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing section  */
/* start features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .contaner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* end features */
/* start Service */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .srv .text p{
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .services-content .image img{
    width: 260px;
}
@media (max-width: 1199px){
    .image-column{
        display: none;
    }
}
/* end Service */
/* start portfolio */
.portfolio{
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.portfolio-content{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio-content .col{
    background-color: white;
}
.portfolio-content img{
    max-width: 100%;
}
.portfolio-content .text{
    /* background-color: white; */
    padding: 20px;
}
.portfolio-content .text h3{
    font-weight: 800;
}
.portfolio-content .text p{
    line-height: 1.6;
    color:#797979
}
/* end portfolio */
/* start about */
.about{
    padding-top: 60px;
    padding-bottom: 120px;
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    z-index: -1;
    top: -40px;
    left: -20px;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    height: 80%;
    width: 120px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    top: -40px;
    z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after{
    display: none;
  }
}
@media (max-width: 991px) {
  .about .about-content .image{
    margin: 0 auto 60px;
  }
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
/* end about */
/* start contact */
.contact{
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact .contact-content{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    max-width: 100%;
}
.contact .contact-content .label{
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}
.contact .contact-content a{
    font-weight: 800;
    font-size: 35px;
    color: var(--main-color);
    text-decoration: none;
    display: block;
}
.contact .contact-content .social{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #2c4755;
}
.contact .contact-content .social i{
    margin-left: 10px;
    color: #2c4755;
}
.contact .contact-content .social a{
    font-weight: 800;
    font-size: 20px;
    color: #2c4755;
    margin-left: 10px;
}
@media (max-width: 767px){
    .contact .contact-content .label{
        font-size: 25px;
    }
    .contact .contact-content a{
        font-size: 20px;
    }
}
/* end contact */
/* start footer */
.footer{
    background-color: var(--secondary-color);
    padding: 30px 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */